* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d0d0;
  position: fixed;
  z-index: 2;
  top: 0;
  .homeBtn {
    font-size: 25px;
    cursor: pointer;
  }
  #categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    .categoryName {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 20px;
      cursor: pointer;
      color: black;
      text-decoration: none;
    }
  }
}

#home {
  margin-top: 120px;

  .mainPics {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
    img {
      width: 400px;
      height: 300px;
      object-fit: cover;
    }
  }
  .nextOrPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 10px;
      padding: 15px 20px;
      background-color: rgb(36, 192, 240);
      transition: 0.3s;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(14, 124, 158);
        transition: 0.3s;
      }
    }
  }
}
#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  backdrop-filter: blur(7px);
}
